<div class="body">
<div class="AdmissionMainDiv">
    <div class="Procedure">
        <h2>Admission Steps</h2>
        <h3>How to?</h3>
        <ul>
            <li>For students wishing to join New Bal Shiksha Sadan, the first step is filling the registration form.</li>
            <li>he filled in Registration Form along with the requisite fee and copy of the birth certificate issued by the local Municipal Corporation, Report Card of previous class and three self-attested passport size photographs of the applicant should be submitted online or sent to the school.</li>
            <li>Payment for enrollment: - Rs 500 (includes Registration charges, Assessment Fee and Prospectus). Registration is valid for any two consecutive assessments.</li>
            <li>	Registration fee is non-refundable. For the convenience of parents the school has the following methods of payment – Net banking, Credit Card or by a bank draft drawn in favour of 'Principal, New Bal Shiksha Sadan School', payable at Gwalior.</li>
            <li>	Submission of Aadhar Card copy of the candidate is MANDATORY applicable in all states of India except J&K, Assam, Meghalaya before joining of school by the student</li>
        </ul>
        <h3>Eligiblity</h3>
        <ul>
            <li>Student must have secured good marks in previous classes if applicable</li>
            <li>Student either must have gone through the basic eligiblity cum peronality test or should have recommened by someone already studied from school</li>
        </ul>
    </div>
    <div>
        <button class="btn btn-success" style="margin-top:30px;"><a><img  style="margin:4px;" src="https://img.icons8.com/android/24/000000/download.png"/>Download Registration form</a></button>
    </div>
</div>
</div>