
.FORM
{
    position: absolute;
    top: 110px;
    left: 30%;
}

body
{
    background-image:url("https://images.thequint.com/thequint%2F2020-06%2F5d26b745-6d9a-4ee3-a751-f2d8d9ce34bb%2Fhero_image_3.jpg?auto=format%2Ccompress&fmt=webp&w=480&dpr=2.6");
}


table {
    border-collapse:separate; 
    border-spacing: 0 .5em;
    text-align: justify;
    background-color: rgb(168, 241, 247);
    padding: 2em;
    color: rgb(14, 146, 179);
  }
  input
  {
      border:.5px solid #11B7B9;
  }
  textarea
  {
  border:.5px solid #11B7B9;	
  }
  
  input:hover
  {
      transform: scale(1.09)
  }
  td
  {
      width: 300px;
      height: 25px;
  }

  
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  